extends layout

block content
  h1 #{slug}
  div(class="col-sm-6")
    h2 Bailey.js
    pre
      code #{bs}

  div(class="col-sm-6")
      h2 Javascript

      h4 bare
      pre
        code #{jsBare}

      h4 node
      pre
        code #{jsNode}

      h4 default options
      pre
        code #{js}
