extends layout

block content
  div(class="col-sm-12")
    h1 #{title}
    p Link to this with <code>http://bailey.lkng.me/view/#{slug}</code>
    p Views: #{views}
  div(class="col-sm-6")
    h2 Bailey.js
    h4 &nbsp;
    pre
      code(class="language-coffeescript") #{bs}

  div(class="col-sm-6")
      h2 Javascript

      h4 bare
      pre
        code(class="language-javascript") #{jsBare}

      h4 node
      pre
        code(class="language-javascript") #{jsNode}

      h4 default options
      pre
        code(class="language-javascript") #{js}
