extends layout

block content
  div(class="col-sm-12")
    h1 #{title}
    p Link to this with <code>http://bailey.lkng.me/view/#{slug}</code>
  div(class="col-sm-6")
    h2 Bailey.js
    h4 &nbsp;
    pre
      code #{bs}

  div(class="col-sm-6")
      h2 Javascript

      h4 bare
      pre
        code #{jsBare}

      h4 node
      pre
        code #{jsNode}

      h4 default options
      pre
        code #{js}
